body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #F5F5F5;
}

a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}

a:hover,
.adicionarCarrinho:hover {
    font-size: 150%;
    color: #9f9ea5;
    font-weight: bold;
}

ul {
    margin-right: 50px;
    width: 346px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
}

#vitrine {
    margin-top: 30px;
    margin-left: 100px;
    top: 0px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: row;
    width: 60%;
    height: 20%;
}

.card {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 380px;
    width: 295px;
    border: 2px solid #F5F5F5;
    border-radius: 0px;
}

img {
    position: static;
    width: 200px;
    height: 140px;
    left: 50px;
    top: 99px;
}

#vitrine img:hover {
    width: 100%;
    height: 100%;
}

#categoria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 15px;
    width: 72px;
    background: #2E245E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

h3 {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 15px;
    color: #333333;
}

h2 {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-left: 15px;
    color: #828282;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-left: 15px;
    color: #2E245E;
}

.adicionarCarrinho {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
    text-decoration-line: underline;
    color: #828282;
    border: none;
    padding: 0px;
    background-color: white;
}

#textoBusca {
    margin: 0;
    padding: 5px;
    display: inline-block;
    width: 246px;
    height: 50px;
    background: #F5F5F5;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
}

#botaoBusca {
    margin: 0;
    display: inline-block;
    width: 96px;
    height: 50px;
    border: none;
    background: #6B54DE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

#vitrine section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 160px;
    background: #F5F5F5;
}

#vitrine section:hover {
    background-color: #9f9ea5;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-right: 100px;
    position: relative;
    display: block;
    float: right;
    width: 347px;
}

.carrinhojs {
    margin-top: 15px;
    width: 347px;
    height: 395px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 347px;
    height: 50px;
    text-align: center;
    background: #6B54DE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}


/*js*/

.carrinhoVazio {
    margin-bottom: 197px;
    color: #000000;
}

.carrinhoCheio {
    display: flex;
    flex-direction: column;
}

.tamanhoImagemAtual {
    width: 76px;
    height: 80px;
}

.classCarrinho {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    margin: 10px;
}

.corTexto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 10px;
}

h5 {
    display: flex;
    justify-content: space-around;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #333333;
}

h6 {
    display: flex;
    justify-content: space-around;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}

#vivi {
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
}

.informacoesProdutos {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

#removerItem {
    border: none;
    text-decoration-line: underline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
    background: rgb(245, 245, 245);
}

#iza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #333333;
}

.palavraLi {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-right: 20px;
}

.palavraLa {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #2E245E;
}